{% extends "basic.html" %}
{% load url from future %}

{% block head %}

<style type="text/css">
input[type="text"], input[type="password"] { display: inline-block; !important }
input { width: 210px; }
</style>

{% endblock %}


{% block title %}
Update password
{% endblock %}


{% block content %}
<div class="sixteen columns">
    <h3>Password</h3>
</div>

<div class="sixteen columns">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock %}

